{% extends "admin/layout.html" %}
{% block title %}Server Log{% endblock %}
{% block body %}

<form class="log-controls" method="GET" action="">
  <label>Log:</label>
  <select name="log" onchange="this.form.submit()">
    <option value="fiveserver" {% if selected_log == 'fiveserver' %}selected{% endif %}>Game server</option>
    <option value="webserver"  {% if selected_log == 'webserver'  %}selected{% endif %}>Web server</option>
  </select>
  <label>Show last:</label>
  <select name="lines" onchange="this.form.submit()">
    {% for n in [30, 100, 500, 1000, 5000] %}
    <option value="{{ n }}" {% if n == line_count %}selected{% endif %}>{{ n }} lines</option>
    {% endfor %}
  </select>
</form>

<pre class="log-viewer" id="logViewer">{% for line in lines %}{% set ll = 'll-info' %}{% if 'level=DEBUG' in line %}{% set ll = 'll-debug' %}{% elif 'level=WARN' in line %}{% set ll = 'll-warn' %}{% elif 'level=ERROR' in line %}{% set ll = 'll-error' %}{% elif 'level=CRITICAL' in line %}{% set ll = 'll-critical' %}{% endif %}<span class="{{ ll }}">{{ line | e }}</span>
{% endfor %}</pre>

<script>
(function() {
  var el = document.getElementById('logViewer');
  if (el) el.scrollTop = el.scrollHeight;
})();
</script>

{% endblock %}
